[submodule "lib/ArduinoPins"]
	path = lib/ArduinoPins
	url = https://github.com/Carlos4621/ArduinoPins
[submodule "lib/expected"]
	path = lib/expected
	url = https://github.com/TartanLlama/expected
[submodule "EasyLoRa_Proto"]
	path = EasyLoRa_Proto
	url = https://github.com/Carlos4621/EasyLoRa_Proto
